<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="login" method="post">
        {% csrf_token %}
            <label class="options" for=3>Username :</label>
            <input type="text" name="username" id = 3  placeholder = 'Username'><br>
            <label class="options" for=5>Password :</label>
            <input type="password" name="password1" id = 5 placeholder = 'Password'><br>
        <input class="submit" type = "submit" name="submit" >
    </form>
</body>
</html>

